<section class="mainbar" >
    <section class="matter">
        <div class="container">
            <div class="row">      		                             
				
				<h2>Consulta de Ordenes</h2>
               		
              	 <form class="well form-search">	
			        <input type="text" ng-model="ordId" class="input-medium search-query" placeholder="Numero orden...">
			        <button type="submit" class="btn btn-large btn-primary" ng-click="buscarOrdenesCanceladas()">Buscar</button>
			        <br />
			    </form>	
                <div ng-show="store.cancelorders == 0">
                  <h3>Ingrese el identificador de la Orden a cancelar</h3>
                </div>
                <div ng-show="ordenesCount > 0">
                  <h3>Ordenes encontradas: {{store.cancelorders.length}}</h3>
                </div>    		
				
				<table class="table table-boed table-hover" ng-show="store.cancelorders > 0">				    
                     <thead>
                       <tr class="well bviolet">
				          <td class="text-right" colspan="6" >
				         </td>
				       </tr>
                        <tr class="well blightblue">
                          <th ng-repeat="header in headersCancel">
                            <sort-by onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                          </th>
                        </tr>
                     </thead>
                    <tbody>
				    <tr ng-repeat="order in  store.cancelorders" >

                        <td class="tdRight">
				            {{order.ordId}}
				        </td>
				        <td>
				            <b>{{order.comments}}</b><br />
				        </td>
                        <td class="tdRight">
				            {{order.orderDate | date:'dd/MM/yyyy' }}
				        </td>
				        <td class="tdRight">
				            {{order.endOrderDate | date:'dd/MM/yyyy' }}
				        </td>
				        <td class="tdRight">
				            {{order.price | currency}}
				        </td>
				        <td class="tdCenter">
				        	
                             <button 
		                        class="btn btn-block btn-success" 
		                        ng-click="CancelarOrden(order)">
		                        Cancelar Orden
		                    </button>
		                    
                       </td>
				    </tr>
				     </tbody>
				     <tfoot>
                    <tr class="well bviolet">
				        <td class="text-right" colspan="6">
				        </td>
				    </tr>
                    </tfoot>				   
				</table>
                <div ng-show="store.cancelorders > 1" class="align-center">                              
                 	<pagination  total-items="ordenesCount" page="filterCriteria.pageNumber" max-size="10" class="" boundary-links="true"
                            on-select-page="selectPage(page)"></pagination>
                </div>            
                            		
            </div>
        </div>
    </section>
</section>


