<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--
  https://wiki.base22.com/display/btg/How+to+setup+SLF4J+and+LOGBack+in+a+web+app+-+fast 
   -->

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p %40.40c:%4L - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="file" class="ch.qos.logback.core.FileAppender">
	<file>/opt/MyLog.log</file>
	    <layout class="ch.qos.logback.classic.PatternLayout">
	      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
	    </layout>
	 </appender>
		
	<logger name="org.springframework" level="debug" />

	<root level="debug">
	 	<appender-ref ref="console" />
	 	<appender-ref ref="file" />
	</root>

</configuration>
