<section class="mainbar">
	<section class="matter">
		<div class="container">
			<div class="row">

				<h2>Actualizar producto</h2>


				<div class="control-group"></div>

				<div class="row">
					<div class="col-md-6">
						<!-- producto info -->
						<table class="table table-bordered">

							<tr class="well">
								<td class="bviolet tdRight" colspan="3">
							</tr>

							<tr>
								<td class="text-right"><b>Id producto</b></td>
								<td class="text-center"><input type="text" id="product.idProducto"
									ng-model="product.idProducto" placeholder="Id producto..." /></td>
							</tr>
							<tr>
								<td class="text-right"><b>Codigo producto:</b></td>
								<td class="text-center"><input type="text"
									id="product.codigoProducto" ng-model="product.codigoProducto"
									placeholder="Codigo producto..." /></td>
							</tr>
							<tr>
								<td class="text-right"><b>Nombre producto:</b></td>
								<td class="text-center"><input type="text"
									id="product.nombreProducto" ng-model="product.nombreProducto"
									placeholder="Nombre producto..." /></td>
							</tr>
							<tr>
								<td class="text-right"><b>Descripcion producto:</b></td>
								<td class="text-center"><input type="text"
									id="product.descripcionProducto" ng-model="product.descripcionProducto"
									placeholder="Descripcion producto..." /></td>
							</tr>
							<tr>
								<td class="text-right"><b>Ruta imagen:</b></td>
								<td class="text-center"><input type="text" id="product.rutaImagen"
									ng-model="product.rutaImagen" /></td>
							</tr>
							<tr>
								<td class="text-right"><b>Fecha inicial:</b></td>
								<td class="text-center"><input type="date"
									id="product.fechaInicial" ng-model="product.fechaInicial"
									placeholder="Fecha inicial..." /></td>
							</tr>
							<tr>
								<td class="text-right"><b>Fecha final:</b></td>
								<td class="text-center"><input type="date" id="product.fechaFinal" ng-model="product.fechaFinal"/></td>
							</tr>
							<tr>
								<td class="text-right"><b>Espectaculo:</b></td>
								<td class="text-center">
								<span  class="nullable">
    								<select ng-model="product.idEspectaculo" ng-options="espectaculo.nombreEspectaculo  for espectaculo in store.espectaculos">
      									<option value="product.espectaculo.idEspectaculo">-- Seleccione el espectaculo --</option>
    								</select>
  								</span><br/>
								</td>
							</tr>
							<tr>
								<td class="text-right"><b>Tarifa Boleta:</b></td>
								<td class="text-center">
								<span  class="nullable">
    								<select ng-model="product.idTarifaBoleta" ng-options="tarifaBoleta.nombreTarifaBoleta  for tarifaBoleta in store.tarifaboletas">
      									<option value="product.tarifaBoleta.idTarifaBoleta">-- Seleccione la tarifa Boleta --</option>
    								</select>
  								</span><br/>
								</td>
							</tr>
							<tr>
								<td class="text-right"><b>Tarifa Transporte:</b></td>
								<td class="text-center">
								<span  class="nullable">
    								<select ng-model="product.idTarifaTransporte" ng-options="transporte.nombreTarifaTransporte  for transporte in store.tarifatransporte">
      									<option value="product.tarifaTransporte.idTarifaTransporte">-- Seleccione la tarifa Transporte --</option>
    								</select>
  								</span><br/>
								</td>
							</tr>
							<tr>
								<td class="text-right"><b>Tarifa Hospedaje:</b></td>
								<td class="text-center">
								<span  class="nullable">
    								<select ng-model="product.idTarifaHospedaje" ng-options="hospedaje.nombreTarifaHospedaje  for hospedaje in store.tarifahospedaje">
      									<option value="product.tarifaHospedaje.idTarifaHospedaje">-- Seleccione la tarifa Hospedaje --</option>
    								</select>
  								</span><br/>
								</td>
							</tr>

						</table>
					</div>
					<!-- buttons -->
		            <div class="col-md-3">
		                <button 
		                    class="btn btn-block btn-success" 
		                    ng-click="update(product)">
		                    <i class="fa fa-shopping-cart fa-lg icon-white" /> Actualizar Producto
		                </button>
		                <button 
		                    class="btn btn-block btn-danger" ng-click="go('/store')" >
		                    <i class="fa fa-chevron-left fa-lg icon-white" /> Regresar a consulta
		                </button>				       
				    </div>
				</div>
			</div>
	</section>
</section>






