<section class="mainbar" >
    <section class="matter">
        <div class="container">
            <div class="row">  
            
              <h2>Detalle Producto</h2>	
            
             <div class="col-md-12">
				<p class="text-info">
				    <img ng-src="img/products/{{product.codigoProducto}}.jpg" alt="{{product.nombreProducto}}"/>
				    {{product.nombreProducto}}: {{product.descripcionProducto}}<br />
				</p>
			 </div>
			 <div class="control-group">
				            <label class="control-label" for="idProducto">Id Producto:</label>
				            <div class="controls">
				                <input type="text" id="idProducto" ng-model="product.idProducto"/>
				            </div>
			   				<label class="control-label" for="codigoProducto">Codigo Producto:</label>
            				<div class="controls">
                			<input type="text" id="codigoProducto" ng-model="product.codigoProducto"/>
            				</div>
        	
			</div>
			<div class="control-group">
            </div>
			
			
			<div class="row">  	
				 <div class="col-md-6">				
		            <!-- product info -->
		            <table class="table table-bordered">
		
		                <tr class="well">
		                    <td class="bviolet tdRight" colspan="3" >
		                        <a href="#/cart" title="Ir al Carrito de Compras" ng-disabled="cart.getTotalCount() < 1">
		                            <i class="icon-shopping-cart" />
		                            <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
		                            <span ng-show="cart.getTotalCount(product.codigoProducto) > 0"><br />Este item esta en el carrito</span>
		                        </a>
		                    </td>
		                </tr>
						 
		                <tr>
		                    <td class="text-right"><b>Incia</b></td>
		                    <td class="text-center"><h1>xxxx</h1></td>
		                    <td />
		                </tr>
		                  <tr>
		                    <td class="text-right"><b>Finaliza</b></td>
		                    <td class="text-center"><h1>xxxx</h1></td>
		                    <td />
		                </tr>
		                <tr ng-repeat="(nutrientName, nutrientValue) in product.nutrients">
		                    <td class="tdRight"><b>{{nutrientName}}</b></td>
		                    <td class="tdCenter"><img ng-src="img/r{{nutrientValue}}.png" alt="{{nutrientValue}}" /></td>
		                    <td>
		                        <b>{{store.dvaCaption[nutrientValue]}}</b>:
		                        {{store.dvaRange[nutrientValue]}}
		                        of the recommended daily value.
		                    </td>
		                </tr>
		
		                <tr class="well">
		                    <td class="tdRight" colspan="3" >
		                        <a href="#/cart" title="Ir al Carrito de Compras" ng-disabled="cart.getTotalCount() < 1">
		                            <i class="icon-shopping-cart fa-lg" />
		                            <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
		                            <span ng-show="cart.getTotalCount(product.codigoProducto) > 0"><br />Este item esta en el carrito</span>
		                        </a>
		                    </td>
		                </tr>
		
		            </table>
		        </div>
		
		        <!-- buttons -->
		        <div class="col-md-3">
		            <button 
		                class="btn btn-block btn-success" 
		                ng-click="cart.addItem(product.codigoProducto, product.nombreProducto, product.precio, 1)">
		                <i class="fa fa-shopping-cart fa-lg icon-white" /> Adicionar a Carrito
		            </button>
		            <button 
		                class="btn btn-block btn-danger" 
		                ng-click="cart.addItem(product.codigoProducto, product.nombreProducto, -10000)"
		                ng-disabled="cart.getTotalCount(product.sku) < 1">
		                <i class="fa fa-trash-o fa-lg icon-white" /> Remover de Carrito
		            </button>
		            <button 
		                class="btn btn-block" ng-click="go('/store')" >
		                <i class="fa fa-chevron-left fa-lg icon-white" /> Regresar a Eventos
		            </button>				       
				</div>
            </div>
            
          
    <h1>Product</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="idProducto">Id Producto:</label>
            <div class="controls">
                <input type="text" id="idProducto" ng-model="product.idProducto"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="codigoProducto">Codigo Producto:</label>
            <div class="controls">
                <input type="text" id="codigoProducto" ng-model="product.codigoProducto"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
              <!-- user-detail.html: -->
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateUser()" class="btn btn-small btn-primary">update user</a>

              <!-- user-creation.html: -->
                <a ng-click="save()" class="btn btn-small btn-primary">create Product</a>
            </div>
        </div>
    </form>

        </div>
    </section>
</section>






