<div data-ng-controller="SecurityController">	
    <nav class="yamm navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="/" class="navbar-brand"><span class="brand-title">OMS</span></a>
			<a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<div class="pull-right navbar-logo">
				<ul class="nav navbar-nav pull-right">
					<li>
						<a href="http://www.johnpapa.net/hottowel-angular" target="_blank">
							Created by AES
						</a>
					</li>
					<li class="dropdown dropdown-big">
						<a href="http://www.angularjs.org" target="_blank">
							<img src="Content/images/AngularJS-small.png" />
						</a>
					</li>
					 <li class="dropdown dropdown-big"  ng-show="showMenu"> 
                         <a class="dropdown-toggle">
                            <i class="fa fa-user fa-lg"></i>
                             {{usuario.InfoCliente.Nombre}}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">  
                          <li><a href="/oms/j_spring_security_logout">Logout</a></li>                                   
                        </ul>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
</div>