	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="/" class="navbar-brand"><span class="brand-title">B2C</span></a>
			<a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<div class="pull-right navbar-logo">
				<ul class="nav navbar-nav pull-right">
					<li>
						<a href="http://www.johnpapa.net/hottowel-angular" target="_blank">
							Created by AES
						</a>
					</li>
					<li>
						<a href="http://www.breezejs.com" target="_blank">
							<img src="Content/images/breezelogo.png" />
						</a>
					</li>
					<li class="dropdown dropdown-big">
						<a href="http://www.angularjs.org" target="_blank">
							<img src="Content/images/AngularJS-small.png" />
						</a>
					</li>
					<li class="dropdown dropdown-big"> 
                         <a class="dropdown-toggle">
                            User Sign In<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" my-input>    
                            <form class="form-horizontal">
                              <div class="form-group">
                                <label class="col-lg-2 control-label" for="inputUsuario">Usuario</label>
                                <div class="controls">
                                  <input type="text" class="form-control" id="inputUsuario" >
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-lg-2 control-label" for="inputPassword">Password</label>
                                <div class="controls">
                                  <input type="password" id="inputPassword" class="form-control">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                  <label class="checkbox">
                                    <input type="checkbox"> Remember me
                                  </label>
                                </div>
                              </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                      <button type="submit" class="btn btn-default">Entrar</button>
                                    </div>
                                  </div>  

                            </form>
                        </ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>