<div data-ng-controller="SecurityController">	
    <nav class="yamm navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<a href="/" class="navbar-brand"><span class="brand-title">B2C</span></a>
			<a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<div class="pull-right navbar-logo">
				<ul class="nav navbar-nav pull-right">
					<li>
						<a href="http://www.johnpapa.net/hottowel-angular" target="_blank">
							Created by AES
						</a>
					</li>
					<li class="dropdown dropdown-big">
						<a href="http://www.angularjs.org" target="_blank">
							<img src="Content/images/AngularJS-small.png" />
						</a>
					</li>
					<li class="dropdown dropdown-big"  ng-show="showMenu"> 
                         <a class="dropdown-toggle">
                            Log In<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" my-input>  
                            <li>
                            <div class="yamm-content">                            
                                    <form  name="userForm" class="form-inline" submit-valid="submitForm()"  novalidate>
                                    	<field ng-model='usuario.login' type='text' label='Usuario:' required>
										    <validator key='required'>Usuario es requerido</validator>
										 </field>
										 
										 <field ng-model='usuario.password' type='text' label='Contrasena:' required>
										    <validator key='required'>Constrasena es requerido</validator>
										 </field>
										  
										 <div class="checkbox col-lg-offset-2">
										    <label>
										      <input type="checkbox"> No cerrar sesion
										    </label>
										  </div>                                  
										                                        
                                       
                                        <div class="form-group">
                                            <div class="col-lg-offset-4 col-lg-10">
                                                <button type="submit" class="btn btn-large btn-primary btn-default">Entrar</button>
                                            </div>
                                        </div>  
                                    </form>                                           
                                </div>                      
                            </li>                                            
                        </ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>