<section class="mainbar" >
    <section class="matter">
        <div class="container">
            <div class="row">      		                             
				
				<h2>Consultar Ordenes</h2>
               		
              	 <form class="well form-search">			       
			        <input type="text" ng-model="order.ordid" id="ordid" class="input-medium search-query" placeholder="Codigo...">
			        <input type="text" ng-model="order.custid" id="custid" class="input-medium search-query" placeholder="Cliente...">
			        <input type="text" ng-model="order.status" id="status" class="input-medium search-query" placeholder="status...">
			        <input type="date" ng-model="order.orderDate" id="orderDate" class="input-medium search-query" placeholder="order date...">
			        <input type="date" ng-model="order.endOrderDate" id="endOrderDate" class="input-medium search-query" placeholder="end order date...">
			        <button type="submit" class="btn btn-large btn-primary" ng-click="findOrderById(order.ordid)">Buscar</button><br />    
			        <p class="help-block">Buscar Ordenes por criterio"</p>      
			    </form>		
			               			
				<div ng-show="productosCount == 0">
                  <h3>Ordenes no encontrados</h3>
                </div>     
                <div ng-show="totalPages > 1" class="align-center">                              
                 	<pagination  total-items="productosCount" num-pages="totalPages" current-page="filterCriteria.pageNumber" max-size="10" class="" boundary-links="true"
                            on-select-page="selectPage(page)"></pagination>
                </div>            
                            		
            </div>
        </div>
    </section>
</section>


