<section class="mainbar" >
    <section class="matter">
        <div class="container">
            <div class="row">      		                             
				
				<h2>Ranking Clientes</h2>
               	
				<table class="table table-boed table-hover" ng-show="store.orders.length > 0">				    
                     <thead>
                       <tr class="well bviolet">
				          <td class="text-right" colspan="6" >
				         </td>
				       </tr>
                        <tr class="well blightblue">
                          <th ng-repeat="header in headersCustomer">
                            <sort-by onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                          </th>
                        </tr>
                     </thead>
                    <tbody>
				    <tr ng-repeat="order in  store.orders" >

                        <td class="tdRight">
				            {{order.customer.custid}}
				        </td>
				        <td>
				            <b>{{order.customer.fName}}</b><br />
				        </td>
				        <td class="tdRight">
				            {{order.customer.lName}}
				        </td>
                        <td class="tdRight">
				            {{order.customer.identificacion}}
				        </td>
				        <td class="tdRight">
				            {{order.price | currency}}
				        </td>
				          <td class="tdRight">
				            {{order.status}}
				        </td>
				        <!-- <td class="tdCenter">
				        	<a href="#/order/{{order.ordId}}">
                             <button 
		                        class="btn btn-block btn-success" 
		                        ng-click="">
		                        Detalle de la Orden
		                    </button>
		                    </a>
                       </td> -->
				    </tr>
				     </tbody>
				     <tfoot>
                    <tr class="well bviolet">
				        <td class="text-right" colspan="6">
				        </td>
				    </tr>
                    </tfoot>				   
				</table>
                <div ng-show="totalPages > 1" class="align-center">                              
                 	<pagination  total-items="ordenesCount" page="filterCriteria.pageNumber" max-size="10" class="" boundary-links="true"
                            on-select-page="selectPage(page)"></pagination>
                </div>            
                            		
            </div>
        </div>
    </section>
</section>


