<section class="mainbar" >
    <section class="matter">
        <div class="container">
            <div class="row">  
            
              <h2>Detalle del Cliente</h2>	
            
             <div class="col-md-12">
				<p class="text-info">
				    <img ng-src="img/productos/{{producto.codigoproductoo}}.jpg" alt="{{producto.nombreproductoo}}"/>
				    {{customer.fName}} {{customer.lName}}<br />
				</p>
			 </div>
			<div class="control-group">
            </div>
			
			
			<div class="row">  	
				 <div class="col-md-6">				
		            <!-- producto info -->
		            <table class="table table-bordered">
		                <tr>
		                    <td class="text-right"><b>Id Cliente:</b></td>
		                    <td class="text-center"> {{customer.custid}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Tipo identificacion:</b></td>
		                    <td class="text-center"> {{customer.tipoIdentificacion}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Identificacion:</b></td>
		                    <td class="text-center"> {{customer.identificacion}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Tipo Cliente:</b></td>
		                    <td class="text-center"> {{customer.type}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Estatus:</b></td>
		                    <td class="text-center"> {{customer.status}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Nombres:</b></td>
		                    <td class="text-center"> {{customer.fName}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Apellidos:</b></td>
		                    <td class="text-center"> {{customer.lName}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Numero Telefono:</b></td>
		                    <td class="text-center"> {{customer.phoneNumber}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Tipo tarjeta de credito:</b></td>
		                    <td class="text-center"> {{customer.creditCardType}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Numero Tarjeta de credito:</b></td>
		                    <td class="text-center"> {{customer.creditCardNumber}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Franquicia:</b></td>
		                    <td class="text-center"> {{customer.franquicia}}</td>
		                </tr>
		                <tr>
		                    <td class="text-right"><b>Email:</b></td>
		                    <td class="text-center">{{customer.email}}</td>
		                </tr>
		            </table>
		        </div>
		        
		        <!-- buttons -->
		        <div class="col-md-3">
		            <button 
		                class="btn btn-block" ng-click="go('/customers/')" >
		                <i class="fa fa-chevron-left fa-lg icon-white" /> Regresar
		            </button>	
				</div>
            </div>

        </div>
    </section>
</section>






